.container{
    position: relative;
}

.login-form {
    max-width: 300px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(30%, 50%);

  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }